@font-face {
  font-family: "TizaFont";
  src: url("./Tiza.ttf");
}

.valid-feedback {
  color: chartreuse;
}

.buttonsGroup {
  margin-left: -3vw;
}

.buttonMain {
  font-size: 10vw;
}

.titleFormMainMenu {
  margin-bottom: 1vw;
}

.invalid-feedback {
  color: red;
}

.App {
  margin-top: 12%;
}

* {
  font-family: TizaFont;
}

.inputForm {
  font-size: 1.3vw;
  width: fit-content;
}

.buttonLogin {
  margin-top: 1vw;
  margin-left: 3%;
  margin-right: 3%;
}

.titleForm {
  margin-bottom: 1vw;
}

.buttonForm {
  font-size: 1.5vw;
}
