@font-face {
  font-family: "TizaFont";
  src: url("./Kdam_Thmor_Pro/KdamThmorPro-Regular.ttf");
}

.App {
  margin-top: 12%;
}

* {
  font-family: TizaFont;
}

.inputForm {
  font-size: 2vw;
  width: fit-content;
}

.buttonLogin {
  margin-top: 2vw;
  margin-left: 3%;
  margin-right: 3%;
}

.titleForm {
  margin-bottom: 1vw;
}

.buttonForm {
  font-size: 2vw;
}
